*{
  margin: 0;
  padding: 0;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

body {
  background-image: url("../images/white_leather.png");
}

#note-body {
  transform: rotate(-1deg);
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:16em;
  width:16em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

button {
  font-family: Verdana;
  margin: 0 0 0 10px;
}

#display-note {
  display: none;
}

.header{
  background-color: IndianRed;
  padding: 10px;
  padding-top: 30px;
}

h1 {
  font-family: Verdana;
  color: white;
}

html {
  height: 100%;
}

#create-note {
  display: block;
  justify-content: center;
}

p {
  font-family: Bradley Hand;
  font-size: 1rem;
}

textarea {
  /* transform: rotate(-3deg); */
  text-decoration:none;
  font-family: Bradley Hand;
  font-size: 1rem;
  color:#000;
  background:#ffc;
  display:block;
  height:16em;
  width:16em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

ul,li{
  list-style:none;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li{
  margin:1em;
}

ul li a{
  transform: rotate(-3deg);
  font-family: Bradley Hand;
  font-size: 1rem;
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:5em;
  width:5em;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}

ul li:nth-child(even) a{
  transform:rotate(3deg);
  position:relative;
  top:5px;
}

ul li:nth-child(3n) a{
  transform:rotate(-2deg);
  position:relative;
  top:-5px;
}

ul li:nth-child(5n) a{
  transform:rotate(4deg);
  position:relative;
  top:-10px;
}

ul li:nth-child(even) a{
  position:relative;
  top:5px;
  background:#cfc;
}

ul li:nth-child(3n) a{
  position:relative;
  top:-5px;
  background:#ccf;
}

ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}